In [20]:
import pandas as pd
import babylon
from configparser import ConfigParser

In [2]:
from babylon.data.twitter.api import Session

In [29]:
cp = ConfigParser()
cp.read("../.secret/credentials.ini")

['../.secret/credentials.ini']

In [31]:
twitter_session = Session(
    cp['emas_twitter_credentials']['consumer_key'],
    cp['emas_twitter_credentials']['consumer_secret'],
    cp['emas_twitter_credentials']['access_token'],
    cp['emas_twitter_credentials']['access_token_secret']
)

In [32]:
bbc_id = twitter_session.user_id('bbc')

In [18]:
bbc_tweets = twitter_session.tweets(bbc_id)

In [19]:
len(bbc_tweets)

3227

In [28]:
columns = list(bbc_tweets[0].as_dict.keys())

tweets_df = pd.DataFrame(columns=columns)

In [29]:
for tweet in bbc_tweets:
    tweets_df = tweets_df.append(tweet.as_dict, ignore_index=True)

In [30]:
tweets_df.head()

,twitter_id,created_at,twitter_user_id,text,is_retweet,retweet_count,favorite_count
0,1015161304917729281,2018-07-06T09:11:30,19701628,RT @BBCBreaking: Thai cave rescue death:\n\n- ...,True,3073,2612
1,1015160926880792577,2018-07-06T09:10:00,19701628,"RT @BBCRadio2: ""I think you and @Pink are the ...",True,92,352
2,1015159355405201408,2018-07-06T09:03:45,19701628,"RT @BBCSport: ""I'm not David Beckham, so we're...",True,961,5891
3,1015159288912908288,2018-07-06T09:03:29,19701628,"RT @CBeebiesHQ: Long before @WaffleWonderDog, ...",True,27,252
4,1015159220646416384,2018-07-06T09:03:13,19701628,RT @BBCRadio3: A rare chance to hear this monu...,True,24,70

In [31]:
tweets_df.to_csv("../input/tweets")